.customer{
    /* margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px; */
}

.customerdetail{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
   
}



.contactdelete{
   
    font-size: 10px;
    border-radius: 5px;
}
.contactdeletediv{
    float: left;
    gap:1rem;
    display: flex;
    margin-top: 20px;
    
}
.tablecontact tr th{
font-size: 9px !important;
font-weight: 750 !important;
color:black !important;
}
.tablecontact tr td{
    font-size: 12px !important;
    font-weight: 450 !important;
    color:black !important;
    }
    .inputcontact{
        background-color: white !important;
        border: none;
    }